<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'todo/style.css' %}">
</head>
<body>
    <h1>Base.html</h1>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'todo:todo_list' %}">Lista</a></li>
                <li><a href="{% url 'todo:new' %}">Ny</a></li>
                <li><a href="{% url 'accounts:signup' %}">Ny</a></li>
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>